.booking-form {

	@media (min-width: 768px) {

		/*шаг 1*/

		&__calendar {
			display: flex;
			justify-content: center;
			width: 100%;
		}

		&__calendar-title {
			margin: 0 20px;
		}

		/*шаг 3*/

		&__cottage-types {
			flex-direction: row;
			justify-content: center;
			padding-top: 45px;
			padding-bottom: 20px;
		}

		&__cottage-type {
			width: 25%;
		}

		&__cottage-options--active {
			display: block;
			padding-top: 85px;
			margin-top: 20px;
			background-color: @white;
		}

		&__cottage-options-list {
			display: flex;
			justify-content: center;
		}

		&__cottage-options-list li {
			position: relative;
			width: 20%;
			text-align: center;
			list-style-type: none;
			text-transform: uppercase;
			color: @grey-darkest;
			font-size: @font-size--small;
		}

		&__option-square:before {
			content: '';
			position: absolute;
			background-image: url(../img/spritesheet.png);
			width: 58px;
			height: 48px;
			bottom: 50px;
			background-position: -172px 102px;
		}

		&__option-door:before {
			content: '';
			position: absolute;
			text-align: center;
			background-image: url(../img/spritesheet.png);
			width: 30px;
			height: 48px;
			bottom: 50px;
			background-position: -130px 0;
		}
		&__option-bed:before {
			content: '';
			position: absolute;
			background-image: url(../img/spritesheet.png);
			width: 58px;
			height: 48px;
			bottom: 50px;
			background-position: -65px -1px;
		}
		&__option-bathroom:before {
			content: '';
			position: absolute;
			background-image: url(../img/spritesheet.png);
			width: 58px;
			height: 48px;
			bottom: 50px;
			background-position: -1px 14px;
		}
		&__option-wi-fi:before {
			content: '';
			position: absolute;
			background-image: url(../img/spritesheet.png);
			width: 58px;
			height: 48px;
			bottom: 50px;
			background-position: -70px 51px;
		}

		/*шаг 4*/

		&__person-info {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 730px;
		}

		&__person-info label {
			display: block;
		}

		&__person-info span {
			display: block;
			width: 360px;
		}

		&__person-info input {
			width: 355px;
		}
	}

	@media (min-width: 1200px) {

		/*шаг 1*/

		&__calendar {
			width: 500px;
			margin: 0 auto;
			padding: 50px 40px;
			background-color: @white;
			border: 1px solid @grey-lighten;
		}

		&__calendar-title {
			margin: 0 50px;
		}

/*вертикальная черта*/
		// &__calendar-line {
		// 	display: block;
		// 	width: 5px;
		// 	height: 90px;
		// 	margin: 0;
		// 	color: red;
		// 	letter-spacing: 280px;
		// 	top: 15px;
		// }

		// &__calendar-line:after {
		// 	content: '';
		// 	position: absolute;
		// 	display: block;
		// 	width: 5px;
		// 	height: 90px;
		// 	margin: 0;
		// 	color: red;
		// 	letter-spacing: 280px;
		// 	top: 15px;
		// }

		/*шаг 3*/

		&__cottage-types {
			width: 800px;
		}

		&__cottage-options--active {
			width: 800px;
			margin: 0 auto;
			margin-top: 25px;
		}

	}

	&__step {
		padding: 50px 0px;
	}

	&__inner &__step:nth-child(2n+1) {
		background-color: @grey-cold-cream;
	}

	&__step-title {
		margin: 0 auto;
		font-size: 0.875rem;
		text-transform: uppercase;
		color: @grey-main;
	}

	&__title {
		text-align: center;
		font-size: 1.625rem;
		font-weight: normal;
		line-height: 1.188rem;
		letter-spacing: 1px;
		color: @grey-darkest;
	}

/*шаг 1*/
	&__calendar-title {
		display: block;
		text-align: center;
		margin-top: 35px;
		margin-bottom: 18px;
		font-size: @font-size--small;
		text-transform: uppercase;
		line-height: 1.125rem;
		color: #575757;
	}

	&__calendar-inputs-box {
		position: relative;
		display: flex;
		margin: 0 auto;
		width: 200px;
		justify-content: space-between;
		background-color: @white;
		margin-top: 18px;
	}

	&__calendar-input {
		height: 54px;
		width: 199px;
		border: 1px solid @grey-lighten;
		background: transparent;

		.js & {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			color: transparent;
			border-color: transparent;

			&::-webkit-input-placeholder {color:transparent;}
			&::-moz-placeholder          {color:transparent;}
			&:-moz-placeholder           {color:transparent;}
			&:-ms-input-placeholder      {color:transparent;}
		}
	}

	&__calendar-field {
		display: none;
		width: 50px;
		padding: 20px;
		border: 1px solid @grey-lighten;
		overflow: hidden;

		.js & {
			display: block;
		}
	}

	&__calendar-placeholder {
		color: @grey-main;
		font-size: @font-size--small;
		text-transform: uppercase;
	}

/*шаг 2*/
	&__place-types {
		display: flex;
		margin: 0 auto;
		padding: 25px 10px;
		width: 280px;
		height: 140px;
		border: 1px solid @grey-lighten;
	}

	&__place-type {
		width: 50%;
		margin-top: 5px;
		font-size: @font-size--small;
		color: @grey-darken;
		text-transform: uppercase;
	}

	&__place-type input {
		display: none;
	}

	&__place-type label {
		display: block;
		text-align: center;
		position: relative;
	}

	&__place-hotel:after {
		content: '';
		position: absolute;
		background-image: url(../img/spritesheet.png);
		width: 84px;
		height: 65px;
		top: 35px;
		right: 30px;
		background-position: -168px 177px;
	}

	&__place-cottage:after {
		content: '';
		position: absolute;
		background-image: url(../img/spritesheet.png);
		width: 84px;
		height: 65px;
		top: 35px;
		right: 30px;
		background-position: -62px 125px;
	}

/*шаг 3*/
	&__cottage-types {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-top: 20px;
		background-color: @white;
	}

	&__cottage-type {
		margin-bottom: 38px;
		color: @grey-main;
		text-transform: uppercase;
		font-size: @font-size--small;
		letter-spacing: 1px;
		cursor: pointer;
	}

	&__cottage-type input {
		display: none;
	}

	&__cottage-type--active {
		position: relative;
		color: @grey-darkest;
	}

	&__cottage-type--active:before {
		content: '';
		display: block;
		position: absolute;
		width: 10px;
		height: 6px;
		border-left: 4px solid @green-main;
		border-bottom: 4px solid @green-main;
		transform: rotate(310deg);
		left: 88px;
		top: 0px;
	}

	&__cottage-options {
		display: none;
	}

	&__cottage-options--active {
		display: none;
	}

/*шаг 4*/

	&__person-info {
		margin: 0 auto;
		width: 282px;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__person-info span {
		color: @grey-darken;
		font-size: @font-size--small;
	}

	&__person-info input {
		display: block;
		width: 280px;
		height: 50px;
		padding: 0 auto;
		text-align: center;
		margin-bottom: 20px;
		border: 1px solid @grey-lighten;
		font-size: @font-size--small;
		text-transform: uppercase;
	}

	&__person-info--active {
		position: relative;
	}

	&__person-info--active:before {
		content: '';
		display: block;
		position: absolute;
		width: 10px;
		height: 6px;
		border-left: 4px solid @green-main;
		border-bottom: 4px solid @green-main;
		transform: rotate(310deg);
		left: 88px;
		top: 0px;
	}

/*шаг 5*/

	&__payment-variations {}

	&__payment {
		margin-bottom: 20px;
		padding-top: 24px;
		padding-bottom: 24px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: @white;
		font-size: @font-size--small;
		text-transform: uppercase;
		color: @grey-darken;
		font-weight: bold;
		letter-spacing: 1px;
	}

	&__payment input {
		display: none;
	}

	&__payment a {
		text-decoration: none;
		color: @grey-darken;
	}

	&__payment-non-checked {
		position: relative;
	}

	&__payment-non-checked:before {
		content: '';
		display: block;
		position: absolute;
		width: 10px;
		height: 6px;
		border-left: 4px solid @grey-lighten;
		border-bottom: 4px solid @grey-lighten;
		transform: rotate(310deg);
		left: -17px;
		right: 370px;
		top: 0px;
	}

	&__payment--active {}

	&__payment-checked {
		position: relative;
	}

	&__payment-checked:before {
		content: '';
		display: block;
		position: absolute;
		width: 10px;
		height: 6px;
		border-left: 4px solid @green-main;
		border-bottom: 4px solid @green-main;
		transform: rotate(310deg);
		left: -17px;
		right: 370px;
		top: 0px;
	}

	&__pay-now {
		padding-top: 40px;
		padding-bottom: 25px;
		background-color: @white;
		padding-left: 40px;
		font-size: @font-size--small;
	}

	&__pay-now label {
		text-transform: uppercase;
		color: @grey-darken;
	}

	&__pay-now input {
		display: block;
		margin-top: 15px;
		margin-bottom: 20px;
		width: 239px;
		height: 40px;
		text-align: center;
		border: 1px solid @grey-lighten;
		text-transform: uppercase;
		color: @grey-main;
	}

	&__for-payment {
		text-align: center;
		color: @grey-darken;
	}

	&__for-payment-title {
		text-transform: uppercase;
	}

	&__for-payment-price-success {
		text-transform: uppercase;
		font-size: 1.5em;
		color: @grey-darkest;
		letter-spacing: 1px;
	}

	&__for-payment-price-no-price {
		color: @grey-darkest;
		font-size: 1.5em;
	}

	&__for-payment-choose-date {
		padding-left: 20px;
		padding-right: 20px;
		font-size: @font-size--small;
		color: @grey-darken;
	}

	&__for-payment-choose {
		position: relative;
		text-decoration: none;
		color: @grey-darken;
		border-bottom: 1px dashed @grey-darkest;
	}

	&__for-payment-choose:before {
		content: '!';
		color: @white;
		font-size: @font-size--small;
		text-align: center;
		display: block;
		position: absolute;
		width: 13px;
		height: 13px;
		background-color: #e71818;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		right: 188px;
		bottom: 2px;
	}

	&__button-submit {
		background-color: @grey-cold-cream;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 80px;
	}
}