.gallery {

	@media (min-width: 768px) {

		#gallery-main-pict {
			display: block;
		}
	}

	@media (min-width: 1200px) {

		&__inner {
			margin-left: 110px;
			margin-right: 110px;
		}
	}

	&__inner {
		width: 100%;
	}

	#gallery-main-pict {
		display: none;
	}

	&__thumb {
		width: 100%;
		text-align: center;
	}
}
