.gallery {

	&__image {
		width: 100%;
	}

	&__inner-small {
		display: none;
	}

	&__inner-big {}

	&__object-big {}

	&__image{}

	&__inner-small {}

	&__object-small {}

	&__image{}

	@media (min-width: 768px) {

	}

	@media (min-width: 1200px) {
		margin-left: 110px;
		margin-right: 110px;
		text-align: center;
	}
}