.single-room {

	@media (min-width: 768px) {

		&__facts-items-flex {
			display: flex;
			justify-content: left;
		}

		&__facts-flex-wrapper {
			margin-right: 90px;
		}
	}

	@media (min-width: 1200px) {

		&__inner {
			margin-left: 80px;
			margin-right: 80px;
		}

		&__info-flex-wrapper {
			display: flex;
			flex-direction: row-reverse;
		}

		&__image-box {
			flex-basis: 50%;
		}

		&__about {
			flex-basis: 50%;
		}
	}

	&__inner {
		padding-top: 50px;
		padding-bottom: 50px;
		border-top: 1px solid @grey-cream;
	}

	&__headline {
		margin: 0 auto;
		text-align: center;
		font-size: @font-size--biggest;
		font-weight: normal;
		color: @black;
	}

	&__price {
		text-align: center;
		margin-bottom: 30px;
		margin-top: 30px;
		color: @grey-darkest;
	}

	&__numeral {
		color: @orange-main;
	}

	&__image {
		width: 100%;
	}

	&__about {
		margin-left: 20px;
		margin-right: 20px;
	}

	&__description {}

	&__title {
		font-size: 1.625em;
		font-weight: normal;
		line-height: 1.188em;
		color: @grey-darkest;
	}

	&__facts-items {
		padding-left: 20px;
		list-style-type: none;
		font-size: @font-size;
		line-height: 1.375em;
		color: @grey-darkest;
	}

	&__facts-items li {
		position: relative;
		display: block;
		margin: 0 auto;
	}

	&__facts-items li:before {
		content: '';
		display: block;
		position: absolute;
		width: 6px;
		height: 6px;
		border-left: 2px solid @orange-lighten;
		border-bottom: 2px solid @orange-lighten;
		transform: rotate(225deg);
		left: -17px;
		right: 370px;
		top: 5px;
	}

	&__btn-and-price {
		margin-top: 47px;
	}

	&__btn-box {
		margin: 0 auto;
		text-align: center;
	}
}