.btn {
	text-decoration: none;
	text-transform: uppercase;

	&--bd-radius {
		border-radius: 30px;
	}

	&--bg-blue {
		width: 148px;
		background-color: @green-main;
		color: @white;
		font-size: 0.875rem;
		padding: 13px 30px;
		letter-spacing: 1px;
		border: 2px solid #fff;
	}

	&--bg-blue:hover {
		background-color: #fff;
		color: #0ab89d;
		transition-duration: 0.25s;
	}
}