.discounts {


	@media (min-width: 320px) and (max-width: 50px) {

	}

	&__headline {
		padding-top: 50px;
		text-align: center;
		font-size: 26px;
		color: #000;
	}

	&__item {
		padding-top: 158px;
		padding-bottom: 30px;
		background-image: url(../img/discounts-image.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
    }

    &__item-inner {
    	padding-top: 5px;
    	padding-left: 10px;
    	padding-bottom: 10px;
    	width: 295px;
    	background-color: #fff;
    }

    &__item-inner-title {
    	font-size: 18px;
    	text-transform: uppercase;
    	color: #ff7435;
    }

    &__item-inner-about {
    	font-size: 16px;
    	color: #191919;
    }

}