.place {

	@media (min-width: 320px) {
	    background-image: url(../img/place-choose.jpg);
	    padding-top: 50px;
	    padding-bottom: 20px;

	    &__headline {
	    	text-align: center;
	    	font-size: 1.625rem;
	    	font-weight: normal;
	    	line-height: 2rem;
	    }
    }

	&__headline {
		color: @white;
		font-weight: normal;
		letter-spacing: 2px;
		line-height: 2rem;
	}
}