.place {

	@media (min-width: 320px) {
	    background-image: url(../img/place-choose.jpg);
	    padding-top: 50px;
	    padding-bottom: 20px;

	    &__headline {
	    	font-size: 26px;
	    }

	    &__room-type-img-box {
	    	width: 280px;
	    	height: 200px;
	    }

	    &__room-type-image {
	    	width: 280px;
	    	height: 200px;
	    }

	    &__room-type-description {
	    	width: 280px;
	    	background-color: #fff;
	    	margin-top: 0;
	    }


    }

	&__headline {
		color: #fff;
		font-weight: normal;
		letter-spacing: 2px;
		line-height: 32px;
	}

	&__room-type {}

	&__room-type-img-box {}

	&__room-type-image {}

	&__room-type-description {
		text-align: center;
	}

	&__room-type-title {
		font-size: 26px;
		font-weight: normal;
		color: #191919;
	}

	&__room-type-price {
		font-size: 14px;
		text-transform: uppercase;
	}

	&__room-type-numeral {
		font-size: 16px;
		color: #ff7435;
		font-weight: bold;
	}
}