.rest-type-switcher {
	position: relative;

	@media (min-width: 320px) and (max-width: 500px) {

		&__type {
			text-align: center;
			color: @grey-darken;
			line-height: 26px;
		}

		&__type-item {
			background-image: url(/img/rest-type-family.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 20px;
			padding-bottom: 290px;
		}

		&__type-inner {
			padding-bottom: 5px;
			background-color: @white;
		}

		&__type-headline {
			font-size: 18px;
			margin-bottom: 20px;
			letter-spacing: 1px;
		}

		p {
			font-size: 16px;
		}

		&__options-item {
			background-image: url(/img/rest-type-opt-health.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			text-align: center;
			padding-top: 50px;
			padding-bottom: 50px;
			color: @black;
		}

		&__options-list {
			display: none;
		}
	}

	&__tabs {
		position: absolute;
		top: 540px;
		text-align: center;
	}

	&__tab-item {
		display: inline-block;
		list-style-type: none;
	}

	&__tab-item--active {
			color: @orange-lighten;
	}

	&__tab-item-link {
		text-decoration: none;
		color: @grey-main;
	}

	&__tab-item-link:hover {
		text-decoration: none;
		color: @orange-lighten;
		transition-duration: 0.5s;
	}

	&__type {}

	&__type-item {}

	&__type-inner {}

	&__type-headline {}


	&__options {}

	&__options-item {}

	&__options-headline {}
	&__options-list {}

	&__option-pict {}
	&__option-text {}

}
