.rest-type-switcher {
	position: relative;

	@media (min-width: 320px) and (max-width: 500px) {

		&__type {
			text-align: center;
			color: @grey-darken;
			line-height: 1.625rem;
		}

		&__type-item {
			background-image: url(/img/rest-type-family.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 20px;
			padding-bottom: 290px;
		}

		&__type-inner {
			padding-bottom: 5px;
			background-color: @white;
		}

		&__type-headline {
			margin-bottom: 20px;
			font-size: 1.125rem;
			font-weight: normal;
			letter-spacing: 1px;
		}

		p {
			font-size: @font-size;
			line-height: 1.5rem;
		}

		&__options-item {
			background-image: url(/img/rest-type-opt-health.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			text-align: center;
			padding-top: 50px;
			padding-bottom: 50px;
			color: @black;
		}

		&__options-list {
			display: none;
		}
	}

	&__tabs {
		position: absolute;
		top: 480px;
		left: 50%;
		margin-left: -155px;
	}

	&__tab-item {
		display: inline-block;
		list-style-type: none;
	}

	&__tab-item--active {
			color: @orange-lighten;
	}

	&__tab-item-link {
		text-decoration: none;
		font-size: 0.875rem;
		line-height: 4.5rem;
		color: @grey-main;
	}

	&__tab-item-link:hover {
		text-decoration: none;
		color: @orange-lighten;
		transition-duration: 0.5s;
	}

	&__type {}

	&__type-item {}

	&__type-inner {}

	&__type-headline {}


	&__options {}

	&__options-item {}

	&__options-headline {
		font-size: 1.625rem;
		letter-spacing: 2px;
		font-weight: normal;
	}
	&__options-list {}

	&__option-pict {}
	&__option-text {}

}
