.reviews {

	@media (min-width: 320px) and (max-width: 500px) {
		.reviews {
			background-image: url(/img/reviews-image.img);
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&__inner {

		&__headline {}

		&__item-inner {

			&__item {

				&__photo {}

				&__name {}

				&__rest-date{}

				&__rest-term{}
			}
		}
	}
}